asgiref==3.11.1
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
geographiclib==2.1
geopy==2.4.1
ImageHash==4.3.2
mysqlclient==2.2.8
numpy==2.4.2
pandas==3.0.1
pillow==12.1.1
psycopg2-binary==2.9.11
PyJWT==2.11.0
python-dateutil==2.9.0.post0
PyWavelets==1.9.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
